<div class="row m-0">
  <iee-electives-selected [electives]="electives" class="w-100"></iee-electives-selected>
</div>

<div class="row">
  <ul class="nav nav-pills m-auto">
    <li class="nav-item mb-2">
      <a class="nav-link" [ngClass]="{'active':(electiveOptionsType==='primary')}" data-toggle="tab"
         (click)="onClickTypeOption('primary')">Primary Options</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" [ngClass]="{'active':(electiveOptionsType==='alternate')}" data-toggle="tab"
         (click)="onClickTypeOption('alternate')">Alternate Options</a>
    </li>
  </ul>
</div>

<iee-electives class="w-100" [electivesType]="electiveOptionsType" [electives]="electives"></iee-electives>
