<div class="row" *ngFor="let pmId of education.programMajorIds; let i = index" [ngClass]="{firstMajor: i === 0}">
  <div class="col-12">
    <div class="session">
      <h3>{{education.programNamesByProgramMajorIds[pmId]}}</h3>
      <h5>{{education.sessionsByProgramMajorIds[pmId]}}</h5>

      <div
        *ngIf="electivesUnavailable(pmId) === false && (electiveSlotsAvailable(pmId) || (electiveSlotsAvailable(pmId) === false && electiveChoicesStarted(pmId)))">
        <div
          *ngIf="education.electivesByProgramMajorIds[pmId] && education.electivesByProgramMajorIds[pmId].length > 0">
          <h4 class="text-center pri-header">Primary Selections</h4>
          <div class="danger"
               *ngIf="availableRequiredCriteriaByProgramMajorIds.get(pmId) > 0 && primaryElectivesByProgramMajorIds.get(pmId).length === 0">
            <i class="fa fa-exclamation-triangle"></i> You have not selected any primary classes for
            this session.
          </div>
          <div class="warning"
               *ngIf="availableRequiredCriteriaByProgramMajorIds.get(pmId) === 0
                    && availableOptionalCriteriaByProgramMajorIds.get(pmId) > 0
                    && primaryElectivesByProgramMajorIds.get(pmId).length === 0
                    && hasAlternatesButNoPrimariesForProgram(pmId) === false">
            <i class="fa fa-exclamation-triangle"></i> You may select an optional class to enhance
            your daily schedule.
          </div>
          <div class="danger"
               *ngIf="availableRequiredCriteriaByProgramMajorIds.get(pmId) > 0 && primaryElectivesByProgramMajorIds.get(pmId).length > 0">
            <i class="fa fa-exclamation-triangle"></i>
            You have not chosen all of your classes for this session. Please complete your selections.
          </div>
          <div class="danger"
               *ngIf="availableRequiredCriteriaByProgramMajorIds.get(pmId) === 0
                    && availableOptionalCriteriaByProgramMajorIds.get(pmId) > 0
                    && hasAlternatesButNoPrimariesForProgram(pmId)">
            <i class="fa fa-exclamation-triangle"></i>
            You have selected alternate classes but not primary electives. Please go back and select primary classes
            for this session.
          </div>
          <div *ngIf="primaryElectivesByProgramMajorIds.get(pmId).length > 0">
            <div class="row elective-choice margin-top-sm"
                 *ngFor="let elective of primaryElectivesByProgramMajorIds.get(pmId); let i = index"
                 [ngClass]="{'first': i === 0}">
              <div class="col-12 col-sm-6 col-md-7">
                <div class="course-name">{{elective.courseDescription}}</div>
              </div>
              <div class="col-12 col-sm-4 col-md-3 text-end">
                <div class="elective-session">{{elective.session}}</div>
              </div>
              <div class="col-12 col-sm-2 col-md-2 text-end">
                <div class="elective-time">{{elective.time}}</div>
              </div>
            </div>
          </div>

          <h4 class="text-center alt-header pt-3">Alternate Selections</h4>
          <div *ngIf="alternateElectivesByProgramMajorIds.get(pmId).length === 0 && electiveSlotsAvailable(pmId)"
               class="warning">
            <i class="fa fa-exclamation-triangle"></i> While an alternate choice is not
            required, you are encouraged to choose one or more.
          </div>
          <div class="warning"
            *ngIf="alternateElectivesByProgramMajorIds.get(pmId).length === 0 && electiveSlotsAvailable(pmId) === false">
            <i class="fa fa-exclamation-triangle"></i> All classes for this session are full.
          </div>
          <div *ngIf="alternateElectivesByProgramMajorIds.get(pmId).length > 0">
            <div class="row elective-choice"
                 *ngFor="let elective of alternateElectivesByProgramMajorIds.get(pmId); let i = index"
                 [ngClass]="{'first': i === 0}">
              <div class="col-12 col-sm-6 col-md-7">
                <div class="course-name">{{elective.courseDescription}}</div>
              </div>
              <div class="col-12 col-sm-4 col-md-3 text-end">
                <div class="elective-session">{{elective.session}}</div>
              </div>
              <div class="col-12 col-sm-2 col-md-2 text-end">
                <div class="elective-time">{{elective.time}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="electiveSlotsAvailable(pmId) === false && electiveChoicesStarted(pmId) === false" class="warning">
        <i class="fa fa-exclamation-triangle"></i> All classes for this session are full.
      </div>
      <div *ngIf="electivesUnavailable(pmId)">
        <i class="fa fa-info-circle"></i> There are no classes available for this session.
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="canClickCheckbox() === false">
  <div class="col-12">
    <div class="session">
      <div class="danger">
        <i class="fa fa-exclamation-triangle"></i>
        You cannot submit your class selections until you have satisfied all of the requirements for each session.
      </div>
    </div>
  </div>
</div>
<div class="row check-description"
     [ngClass]="{disabled: canClickCheckbox() === false, clickable: canClickCheckbox()}"
     (click)="onClickCheckbox()">
  <div class="col-1 d-flex align-items-center">
    <div class="checkbox ms-auto me-0">
      <input type="checkbox" [checked]="readyToSubmit"/>
      <label [ngClass]="{disabled: canClickCheckbox() === false}"><i class="fa fa-check"></i></label>
    </div>
  </div>
  <div class="col-10 d-flex align-items-center">
    <div class="no-select">
      I'm ready to submit my class selections.
    </div>
  </div>
</div>
<div class="row">
  <div class="session-aligned">
    <div class="col-12 info-text margin-top-sm">
      Once you have submitted your class selections you won't be able to change this information.
      While we do our best to honor class selections, we are not able to guarantee placement in any course.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="session-aligned">
      <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="submitting === true"></i>
      <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!readyToSubmit || submitting">
        Submit
      </button>
    </div>
  </div>
</div>
