<div class="modal-container" #modalContainer></div>
<div class="row margin-top-sm">
  <div class="col-12 col-md-3 order-md-first mb-3">
    <div *ngIf="longDescription && longDescription.length > 0" class="well instructions">
      <div [innerHTML]="longDescription"></div>
    </div>
    <div class="well lesson-instructions d-none d-md-block" *ngIf="showPrivateLessonInstructions"
         [innerHtml]="privateLessonInstructions">
    </div>
    <a (click)="toTop()" class="btn btn-default float-link" #floatLink href="javascript:void(0);">
      <i class="fa fa-arrow-up"></i> Back to Top
    </a>
  </div>
  <div class="col-12 col-md-9 order-md-last mb-5">
    <iee-tab-container></iee-tab-container>
  </div>
  <div class="col-12 d-block d-md-none margin-bottom" *ngIf="showPrivateLessonInstructions">
    <div class="well lesson-instructions"
         [innerHtml]="privateLessonInstructions">
    </div>
  </div>
</div>
